@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Hero and footer background, information header text and quote text */
    --dark-bg-color: #1F2937;

    /* Hero main text and header logo */
    --main-text: #F9FAF8;

    /* Hero subtext, header link text and quote section background */
    --subtext-color: #E5E7EB;
    --secondary-text: #5c5b5b;

    /* Button and call to action background */
    --button-cta-bg: #3882F6;

    /* Paddings */
    --header-hero-left-right: 15rem 
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Header */

header {
    width: 100%;
    background-color: var(--dark-bg-color);

    display: flex;
}

nav {
    width: 80%;
    margin: 2rem auto;
    
    display: flex;
    align-items: center;
    gap: 2rem;
}

div.logo {
    color: var(--main-text);
    font-size: 2.4rem;
    font-weight: 800;

    margin-right: auto;
}

a {
    color: var(--subtext-color);
    font-size: 1.8rem;
    text-decoration: none;
}

/* Hero section */

.hero {
    width: 100%;
    background-color: var(--dark-bg-color);

    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.hero-content {
    width: 80%;
    height: fit-content;
    margin: 10rem auto 15rem;

    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}

.hero-content .text {
    display: flex;
    flex-direction: column;
    flex: 1 1 25rem;
}

.hero-content h1 {
    color: var(--main-text);
    font-size: 4.8rem;
    font-weight: 800;
}

.subtext {
    color: var(--subtext-color);
    font-size: 1.8rem;
}

.hero a {
    width: max-content;
    margin-top: 1.5rem;
    padding: .8rem 3.5rem;
    background-color: var(--button-cta-bg);

    font-weight: 800;

    border-radius: 1rem;
}

.hero-content img {
    min-height: 25rem;
    background-color: var(--subtext-color);

    flex: 1 0 27rem;
}

/* More information section */

.more-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 5rem auto;

    color: var(--dark-bg-color);
    font-size: clamp(2.6rem, 5vw, 3.6rem);
    font-weight: 800;
    text-align: center;
}

.boxes {
    width: 65%;
    margin-bottom: 15rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5rem;
}

.info-box {
    width: 18rem;

    display: flex;
    flex-direction: column;
}

.info-box img {
    width: 100%;
    height: 18rem;
    margin: 0 auto 1rem;

    border: .4rem solid var(--button-cta-bg);
    border-radius: 2rem;
}

.info-box p {
    color: var(--secondary-text);
    font-size: 1.8rem;
    text-align: center;
}

/* Quote section */

/* Footer */